[req]
req_extensions = req_ext
distinguished_name = dn
[ dn ]
CN = *.dc1.consul
[ req_ext ]
basicConstraints=CA:FALSE
subjectAltName = @alt_names
[ alt_names ]
DNS.1 = localhost
DNS.2 = server.dc1.consul
DNS.3 = server1.dc1.consul
DNS.4 = server.global.nomad
IP.1  = 127.0.0.1